/* custom css */
.section-top-content h3,
.section-top-content-s2 h3 {
  font-size: 35px !important;
}
.profile .content h3,
.profile-s2 .content h3 {
  font-size: 29px !important;
  font-weight: 900 !important;
}
.left-wraper-s2 {
  max-width: 320px !important;
  left: 180px;
}
.left-wraper-s2 .left-sidetext {
  position: absolute;
  left: 100px;
  top: 0;
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}
.left-wraper-s2 .left-sidetext {
  left: -90px !important;
  top: 0px !important;
  display: block !important;
}
.hero-section .hero-wrap {
  margin-top: 40px !important;
}
.profile-s2 .content h2 {
  font-size: 25px !important;
  font-weight: 600 !important;
}
.progres-card .title {
  font-size: 20px !important;
  position: relative;
  right: 20px;
}
.skill-s2 {
  max-width: 695px;
  display: grid !important;
  padding-bottom: 160px;
  grid-template-columns: repeat(3, 1fr);
}
.skill-s2 {
  padding-bottom: 20px !important;
}
.about-section {
  padding-bottom: 40px !important;
}

.resume-section {
  padding-bottom: 60px !important;
}
.service-card.scroll-text-animation {
  width: 90%;
}
.gallery-filters {
  width: 92%;
}
.testimonial-section {
  width: 92%;
}
.service-section {
  padding-bottom: 0px !important;
}
span {
  color: white;
}
.protfolio-card .image img {
  width: 100%;
  object-fit: contain;
}
.protfolio-card .image img {
  transform: none !important;
}
